*
!.editorconfig
!.gitignore
!.golangci.yml
!Dockerfile
!go.mod
!go.sum
!README.md
!UNLICENSE

!*.go

!chart
!chart/.helmignore
!chart/templates
!chart/tests
!chart/templates/NOTES.txt
!chart/**/*.yaml
!chart/**/*.tpl

!.github
!.github/workflows
!.github/workflows/*.yml
